article {
  color: #bdb7af !important;
}
article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  color: #dddad6 !important;
}
article h2:before {
  border: 1px solid #35393b !important;
}
article blockquote {
  background-color: #1c1e1f !important;
  border: 1px solid #35393b !important;
}
article > ol > li::before {
  background-color: rgba(91,91,255,0.1) !important;
}
article > table {
  color: #aca49a !important;
  text-align: center;
  -webkit-box-shadow: 0 0 0 1px #222426;
  box-shadow: 0 0 0 1px #222426;
  display: inline-block !important;
  margin: auto;
  border-radius: 10px;
}
article > table thead {
  border: 1px solid #35393b !important;
  background-color: #181a1b !important;
}
article > table thead tr {
  background-color: #1c1e1f !important;
}
article > table th {
  border: 1px solid #35393b !important;
}
article > table td {
  border: 1px solid #35393b !important;
}
article > table tr {
  background-color: #181a1b !important;
}
article > table tr:nth-child(2n) {
  background-color: #1c1e1f !important;
}
article ul li::before {
  border: 3px solid #303436 !important;
}
.aplayer .aplayer-list ol li.aplayer-list-light {
  background: #181a1b !important;
}
.search-container .search-header {
  background-color: #181a1b !important;
  color: #fff;
}
.search-container .search-header input {
  background-color: #181a1b !important;
  color: #fff;
}
.search-container .search-result {
  background-color: #181a1b !important;
  color: #fff;
}
.search-container .search-result h3 {
  color: #fff !important;
}
html {
  background-color: #181a1b !important;
}
.nexmoe-avatar {
  box-shadow: rgba(49,64,89,0.6) 0px 0.3rem 2rem !important;
}
.nexmoe-count div span {
  color: #eee !important;
}
.nexmoe-search input {
  color: #e8e6e3 !important;
}
.nexmoe-widget-wrap {
  box-shadow: rgba(49,64,89,0.4) 0px 0px 1rem !important;
  background-color: #181a1b !important;
}
#nexmoe-content .nexmoe-primary {
  box-shadow: rgba(49,64,89,0.4) 0px 0px 1rem !important;
  background-color: #181a1b !important;
}
#nexmoe-content .nexmoe-primary .nexmoe-page-nav {
  list-style-image: initial !important;
  color: #d3cfc9 !important;
  background-color: #1d2021 !important;
}
#nexmoe-content .nexmoe-post .nexmoe-post-copyright {
  color: #d8d5d0 !important;
  background-color: #1b1d1e !important;
}
#nexmoe-content .nexmoe-post-footer {
  background-color: #1d2021 !important;
}
.nexmoe-post-right .nexmoe-tool .mdui-fab {
  background-color: #181a1b !important;
  color: #bdb7af !important;
}
.nexmoe-toc {
  background-color: #181a1b !important;
}
.nexmoe-toc a {
  color: #9ca2a8 !important;
}
#nexmoe-background .mdui-appbar.mdui-shadow-0 {
  color: rgba(232,230,227,0.87) !important;
  background-color: #181a1b !important;
}
@media (max-width: 1024px) {
  .mdui-drawer {
    color: rgba(232,230,227,0.87) !important;
    background-color: #181a1b !important;
  }
}
.textarea-fw,
.wrap-word-gw {
  color: #c8c3bc !important;
}
.module-cmt-float-bar {
  display: none !important;
}
